@media screen and (min-width:1200px) { 
    .main-menu__title-logo {
        display:block;
        width: 120px;
        height: 98px;
    }

    .secondblock {
        min-height: 649px;
    }

    .secondblock p:nth-child(1) {
        padding:30px 0px 0px 40px;
        font-size:62px;
    }
    
    .secondblock p:nth-child(2) {
        padding-bottom:40px;
        font-size:62px;
    }

    .secondblock__link {
        font-size:38px;
    }

    .product-gallery li {
        height: 400px;
        width: 100%;
    }

    .main-menu__list-1 h2,
    .main-menu__list-2 h2 {
        font-size:40px;
    }

    .list-1__vekit-category div:not(:first-child),
    .list-1__dolor-category div:not(:first-child),
    .list-1__amet-category div:not(:first-child),
    .list-1__proin-category div:not(:first-child) {
        font-size:18px;
    }

    .list-1__vekit-category div:not(:first-child) h4,
    .list-1__dolor-category div:not(:first-child) h4,
    .list-1__amet-category div:not(:first-child) h4,
    .list-1__proin-category div:not(:first-child) h4 {
        font-size:27px;
    }
    
    .list-1__vekit-category div:not(:first-child) span,
    .list-1__dolor-category div:not(:first-child) span,
    .list-1__amet-category div:not(:first-child) span,
    .list-1__proin-category div:not(:first-child) span { 
        font-size: 27px;
    }

    .vekit-category__header h3,
    .dolor-category__header h3,
    .amet-category__header h3,
    .proin-category__header h3 { 
        font-size:30px;
    }
}