@media screen and (min-width:640px) {
    .headerblock {
        height: 74px;
    }

    .headerblock__mini span { 
        font-size:24px;
        padding-left:38px;
        padding-top:10px;
    }

    .headerblock__mininavbar {
        width: 82px;
        height: 74px;
    }

    .secondblock {
        min-height: 346px;
    }
      
    .burger__button {
        top:26px;
        left:28px;
    }

    .burger__button i {
        width: 31px;
        height: 4px;
        transform-origin: 4.5px 2px;
    }

    .burger__button i:nth-child(2) {
        top: 8px;
    }

    .burger__button i:nth-child(3) {
        top: 16px;
    }

    .mininavbar-menu_active {
        top: 74px;
        width: 240px;
        transition:0.4s;
    }

    .headerblock__mininavbar-menu li { 
        height: 45px;
        padding-left:28px;
    }

    .headerblock__mininavbar-menu a {font-size:14px;}

    .secondblock p {
        font-size: 36px;
        padding-left:40px;
    }
    
    .secondblock p:nth-child(1) {padding-top:24px;}

    .secondblock__link {
        font-size: 24px;
        padding-left:40px;
    }

    .product-gallery li {
        border-bottom:3px solid #f5f5f5;
    }

    .product-gallery a {
        height: 150px;
    }

    .product-gallery li a:first-child {font-size:36px; }


    .product-gallery_pizza {
        background: url("../img/gallery_pizza_640.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
    }
    
    .product-gallery_salads {
        background: url("../img/gallery_salads_640.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
    }
    
    .product-gallery_desserts {
        background: url("../img/gallery_desserts_640.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
    }

    .gallery-arrow {font-size:36px;}

    .main-menu__title {
        padding:40px 10px 10px 20px;
    }

    .main-menu__title-head {
        font-weight: 500;
        font-size:40px;
    }

    .main-menu__title-head::after { 
        font-size: 20px;
        font-weight: 300;
    }

    .main-menu__list-1 h2,
    .main-menu__list-2 h2 {
        margin-top:35px;
        font-size:40px;
        font-weight: 500;
        padding-left:36px;
    }
    
    .vekit-category__header h3,
    .dolor-category__header h3,
    .amet-category__header h3,
    .proin-category__header h3 { 
        font-size: 30px;
        font-weight: 500;
        margin:30px 0px 36px 24px;
    }

    .amet-category__header img,
    .proin-category__header img,
    .dolor-category__header img,
    .vekit-category__header img {
        margin-right:26px;
    }
    

    .list-1__vekit-category div:not(:first-child) h4,
    .list-1__dolor-category div:not(:first-child) h4,
    .list-1__amet-category div:not(:first-child) h4,
    .list-1__proin-category div:not(:first-child) h4 {
        font-size:27px;
        font-weight: 500;
    }

    .list-1__vekit-category div:not(:first-child) span,
    .list-1__dolor-category div:not(:first-child) span,
    .list-1__amet-category div:not(:first-child) span,
    .list-1__proin-category div:not(:first-child) span { 
        font-size: 27px;
    }

    .list-1__vekit-category div:not(:first-child) p,
    .list-1__dolor-category div:not(:first-child) p,
    .list-1__amet-category div:not(:first-child) p,
    .list-1__proin-category div:not(:first-child) p {
        font-size: 17px;
        font-weight: 400;
        margin:10px 0px 20px;
    }

    .list-1__vekit-category div:not(:first-child),
    .list-1__dolor-category div:not(:first-child),
    .list-1__amet-category div:not(:first-child),
    .list-1__proin-category div:not(:first-child) {
        margin:0px 42px;
    }

    footer {
        padding:26px 0px;
    }

    .footer__text {
        font-size: 18px;
    }


}