@media screen and (min-width:980px) { 
    .main-menu__list {
        display:flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    .main-menu__list-1,
    .main-menu__list-2 {
        width: 100%;
    }

    .headerblock {
        height: 100px;
        display: flex;
    }

    .headerblock__max {
        display:flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    .headerblock__max-menu {
        display: flex;
        justify-content: space-around;
        flex:3;
    }
    
    .headerblock__max-menu a {
        color:#fff;
        border:1px solid #373c3f;
        font-size:15px;
        text-transform: uppercase;
        line-height: 1.733;
        font-family: 'Montserrat', sans-serif !important;
    }

    .main-logo_link {
        flex:1;
        display: flex;
        justify-content: flex-end;
        margin-right: 2%;
    }

    .secondblock {
        min-height: 530px;
    }

    .secondblock p:nth-child(1) {
        padding:52px 0px 0px 40px;
        font-size:54px;
    }
    
    .secondblock p:nth-child(2) {
        padding-bottom:40px;
        font-size:54px;
    }

    .secondblock__link {
        font-size:34px;
    }

    .gallery-arrow {
        display: none;
    }

    .product-gallery li {
        height: 328px;
        width: 100%;
    }

    .product-gallery__menu {
        display: flex;
    }

    .product-gallery li a:first-child { 
        height: 100%;
    }

    .product-gallery_pizza {
        background: url("../img/gallery_pizza_1200.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
    }
    
    .product-gallery_salads {
        background: url("../img/gallery_salads_1200.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
    }
    
    .product-gallery_desserts {
        background: url("../img/gallery_desserts_1200.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
    }

    .main-menu__title {
        display:flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-menu__title-logo {
        display:block;
        width: 109px;
        height: 89px;
    }

    .main-menu__title-head {
        font-size:34px;
    }

    .main-menu__list-1 h2,
    .main-menu__list-2 h2 {
        font-size:34px;
        margin-top: 0px;
        padding:12px 0px 12px 10px;
    }
    
    .vekit-category__header h3,
    .dolor-category__header h3,
    .amet-category__header h3,
    .proin-category__header h3 { 
        font-size:26px;
        margin:30px 0px 36px 0px;
    }

    .amet-category__header img,
    .proin-category__header img,
    .dolor-category__header img,
    .vekit-category__header img {
        margin-right:0px;
    }

    .vekit-category__header,
    .proin-category__header,
    .dolor-category__header,
    .amet-category__header {
        margin:15px 10px 0px;
    }

    .list-1__vekit-category div:not(:first-child),
    .list-1__dolor-category div:not(:first-child),
    .list-1__amet-category div:not(:first-child),
    .list-1__proin-category div:not(:first-child) {
        margin:0px 10px;
    }

    .list-1__vekit-category div:not(:first-child) h4,
    .list-1__dolor-category div:not(:first-child) h4,
    .list-1__amet-category div:not(:first-child) h4,
    .list-1__proin-category div:not(:first-child) h4,
    .list-1__vekit-category div:not(:first-child) span,
    .list-1__dolor-category div:not(:first-child) span,
    .list-1__amet-category div:not(:first-child) span,
    .list-1__proin-category div:not(:first-child) span {
        font-size:24px;
    }

    .list-1__vekit-category div:not(:first-child) p,
    .list-1__dolor-category div:not(:first-child) p,
    .list-1__amet-category div:not(:first-child) p,
    .list-1__proin-category div:not(:first-child) p {
        font-size: 15px;
    }
    
    .main-menu__list-1 {
        margin-bottom: 0px;
    }

    footer {
        display: flex;
        flex-direction: row;
        padding:10px 0px;
        align-content: center;
        justify-content: space-between;
    }

    .footer-logo {
        display:block;
        margin-left: 15px;
    }

    .footer-logo img {
        padding-left: 15px;
    }

    .footer__text {
        display:flex;
        align-items: center;
        padding-right: 15px;
    }

    footer br {
        display: none;
      }


}