* {
    font-family: 'Lato', sans-serif;
}

.headerblock {
    background: #373c3f;
    width: 100%;
    height: 37px;
}

.headerblock__mini {
    display:flex;
    justify-content: space-between;
}

.headerblock__mini span {
    color:#ffffff;
    font-size:12px;
    line-height: 2.167;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif !important;
    padding-left:18.5px;
    padding-top:5px;
}

.headerblock__mininavbar {
    position:relative;
    background: #202529;
    width: 41px;
    height: 37px;
}

.burger {
    display: flex;
    position:absolute;
    box-sizing: border-box;
}

.burger__button {
    position: relative;
    top:13px;
    left:14px;
}

.burger__button i {
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #fff;
    color:#FFF;
    opacity: 1;
    top: 0;
    left: 0;
    transition: all .4s linear;
    transform-origin: 2.5px 1px;
}

.burger__button i:nth-child(2) {
    top: 4px;
}

.burger__button i:nth-child(3) {
    top: 8px;
}

.burger__button_opened i:nth-child(1) {
    transform: rotate(45deg);
}

.burger__button_opened i:nth-child(2) {
    opacity: 0;
}

.burger__button_opened i:nth-child(3) {
    transform: rotate(-45deg);
}

.headerblock__mininavbar-menu {
    display:none;
}

.mininavbar-menu_active {
    display:block !important;
    position:absolute;
    top:37px;
    right:0px;
    width: 182px;
    transition:0.4s;
    z-index: 10;
}

.headerblock__mininavbar-menu li {
    display:flex;
    align-items: center; 
    background: #fafafa;
    border-bottom:1px solid #f5f5f5;
    border-top:1px solid #f5f5f5;
    padding-left:14px;
    height: 29px;
}

.headerblock__mininavbar-menu a {
    color:#757575;
    font-size:12px;
}

.headerblock-deactiv {
    display:none !important;
}

.secondblock {
    background: url("../img/secondblockbg_1200.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 173px;
    position:relative;
    z-index: 5;
    border-bottom: 4px solid #f5f5f5;
}

.secondblock p {
    font-size: 16px;
    font-weight: bold;
    color:#fff;
    padding-left:20px;
}

.secondblock p:nth-child(1) {
    padding-top:14px;
}

.secondblock p:nth-child(2) { 
    padding-bottom:7px;
    padding-top:3px;
}

.secondblock__link {
    font-size: 14px;
    padding-left:20px;
    font-weight: bold;
    color:#a6d6e0;
}

.product-gallery {
    display: flex;
    flex-direction: column;
}

.product-gallery__menu>li{
    border-bottom:2px solid #f5f5f5;
}

.product-gallery a {
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 75px;
}

.gallery_pizza__delivery,
.gallery_desserts__sweet,
.gallery_salads__vegan {
    display:flex;
    align-items:center;
    justify-content: center;
    flex:3.5;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    color:#ffffff;
}

.product-gallery_pizza {
    background: url("../img/gallery_pizza_320.jpg") no-repeat center;
    background-size: cover;
}

.product-gallery_salads {
    background: url("../img/gallery_salads_320.jpg") no-repeat center;
    background-size: cover;
}

.product-gallery_desserts {
    background: url("../img/gallery_desserts_320.jpg") no-repeat center;
    background-size: cover;
}

.gallery-arrow {
    flex:1;
    display:flex;
    align-items:center;
    justify-content: center;
    background: #acd8ad;
    height: 100%;
    color:#fff;
    font-size:20px;
    font-weight: bold;
}

.gallery-arrow_deactiv {
    display:none;
}

.main-menu {
    width: 100%;
}

.main-menu__title {
    padding:18px 7px 0px 7px;
}

.main-menu__title-head {
    font-size: 20px;
    color:#3f4043;
    text-transform: uppercase;
    position: relative;
}

.main-menu__title-head::after {
    content:"Ultrices cursus sit amet placerat tortor";
    display: block;
    position: absolute;
    font-size: 10px;
    text-transform:none;
    margin-left:2px;
    color:#d2d3d5;
    font-family: 'Lato', sans-serif;
}
  
.main-menu__title-logo {
    display: none;
}

.main-menu__list-1 {
    margin-bottom:31px;
}

.main-menu__list-1 h2 {
    padding:7px 0px 7px 18px;
    font-size:20px;
    text-transform: uppercase;
    margin-top:20px;
    background: #3f4043;
    color: #acd8ad;
}

.vekit-category__header,
.proin-category__header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin:10px 18px 0px;
}

.dolor-category__header,
.amet-category__header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin:15px 18px 0px;
}

.vekit-category__header h3,
.dolor-category__header h3,
.amet-category__header h3,
.proin-category__header h3 {
    font-size: 15px;
    color:#3f4043;
    text-transform: uppercase;
}

.list-1__vekit-category div:not(:first-child),
.list-1__dolor-category div:not(:first-child),
.list-1__amet-category div:not(:first-child),
.list-1__proin-category div:not(:first-child) {
    margin:0px 18px;
}

.list-1__vekit-category div:nth-child(2),
.list-1__dolor-category div:nth-child(2),
.list-1__amet-category div:nth-child(2),
.list-1__proin-category div:nth-child(2)  {
    margin-top:13px;
}

.list-1__vekit-category div:not(:first-child) div:first-child,
.list-1__dolor-category div:not(:first-child) div:first-child,
.list-1__amet-category div:not(:first-child) div:first-child,
.list-1__proin-category div:not(:first-child) div:first-child {
    display: flex;
    justify-content: space-between;
}

.list-1__vekit-category div:not(:first-child) h4,
.list-1__dolor-category div:not(:first-child) h4,
.list-1__amet-category div:not(:first-child) h4,
.list-1__proin-category div:not(:first-child) h4 {
    font-size:14px;
    color:#59595c;
}

.list-1__vekit-category div:not(:first-child) span,
.list-1__dolor-category div:not(:first-child) span,
.list-1__amet-category div:not(:first-child) span,
.list-1__proin-category div:not(:first-child) span {
    font-size:14px;
    font-weight: bold;
    color:#3f4043;
}

.list-1__vekit-category div:not(:first-child) p,
.list-1__dolor-category div:not(:first-child) p {
    font-size:9px;
    color:#59595c;
    text-align: justify;
    margin:5px 0px 8px;
}

.list-1__amet-category div:not(:first-child) p,
.list-1__proin-category div:not(:first-child) p { 
    font-size:9px;
    color:#59595c;
    text-align: justify;
    margin:5px 0px 11px;
}

.main-menu__list-2 h2 {
    padding:7px 0px 7px 18px;
    font-size:20px;
    text-transform: uppercase;
    background: #acd8ad;
    color:#fff;
    margin-top:20px;
}

footer {
    width: 100%;
    margin-top:45px;
    background: #acd8ad;
    padding:13px 0px;
}

.footer-logo {
    display:none;
}

.footer__text {
    font-size: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 1.333;
    font-family: 'Montserrat', sans-serif !important;
}